:root {
  --pad: 100px;
  --header-height: 100px;
  --blue: #008787;
}

.writter {
  font-size: 9vmin;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

@keyframes typing {
  0.0000%,
  27.3488% {
    content: "";
  }
  1.1395%,
  26.2093% {
    content: "d";
  }
  2.2791%,
  25.0698% {
    content: "de";
  }
  3.4186%,
  23.9302% {
    content: "dev";
  }
  4.5581%,
  22.7907% {
    content: "deve";
  }
  5.6977%,
  21.6512% {
    content: "devel";
  }
  6.8372%,
  20.5116% {
    content: "develo";
  }
  7.9767%,
  19.3721% {
    content: "develop";
  }
  9.1163%,
  18.2326% {
    content: "develope";
  }
  10.2558%,
  17.0930% {
    content: "developer";
  }

  30.7674%,
  51.2791% {
    content: "";
  }
  31.9070%,
  50.1395% {
    content: "d";
  }
  33.0465%,
  49.0000% {
    content: "de";
  }
  34.1860%,
  47.8605% {
    content: "deb";
  }
  35.3256%,
  46.7209% {
    content: "debb";
  }
  36.4651%,
  45.5814% {
    content: "debbu";
  }
  37.6047%,
  44.4419% {
    content: "debbug";
  }

  38.6047%,
  43.4419% {
    content: "debbuge";
  }

  39.6047%,
  42.4419% {
    content: "debbuger";
  }

  54.6977%,
  75.2093% {
    content: "";
  }
  55.8372%,
  74.0698% {
    content: "R";
  }
  56.9767%,
  72.9302% {
    content: "Ro";
  }
  58.1163%,
  71.7907% {
    content: "Ron";
  }
  59.2558%,
  70.6512% {
    content: "Rona";
  }
  60.3953%,
  69.5116% {
    content: "Ronal";
  }
  61.5349%,
  68.3721% {
    content: "Ronald";
  }

  78.6279%,
  96.8605% {
    content: "";
  }
  79.7674%,
  95.7209% {
    content: "h";
  }
  80.9070%,
  94.5814% {
    content: "hu";
  }
  82.0465%,
  93.4419% {
    content: "hum";
  }
  83.1860%,
  92.3023% {
    content: "huma";
  }
  84.3256%,
  91.1628% {
    content: "human";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 15s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "developer";
    }
    25% {
      content: "writer";
    }
    50% {
      content: "reader";
    }
    75% {
      content: "human";
    }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

/* HEADER */
.header {
  width: 100%;
  height: var(--header-height);
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--pad);
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #111c;
  backdrop-filter: blur(3px);
  transition: all 150ms ease-in-out;
}

.header > h3 {
  font-size: 30px;
  color: white;
  border-left: 8px solid var(--blue);
  padding-left: 15px;
}

.menu-btn {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.menu-btn li {
  color: #aaa;
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.menu-btn li a {
  text-decoration: none;
  color: inherit;
  user-select: none;
}

.menu-btn li::after {
  content: "";
  width: 0;
  position: absolute;
  top: 100%;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  transition: width 150ms ease-out;
}

.menu-btn li:hover {
  color: #fff;
}

.menu-btn li:hover::after {
  width: 120%;
}

.header.colored {
  background-color: white;
  box-shadow: 0px 1px 10px #1115;
}

.header.colored > h3 {
  color: black;
}

.header.colored ul li {
  color: #555;
}

.header.colored ul li:hover {
  color: #000;
}

.header.colored ul li::after {
  background-color: black;
}

.header.colored > .menu > div,
.header.colored > .menu > div::before,
.header.colored > .menu > div::after {
  background-color: black;
}

.header.colored > .menu.open > div {
  background-color: transparent;
}

/* menu */
.menu {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.menu > div {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transition: all 150ms ease-in-out;
}

.menu > div::before,
.menu > div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: white;
  transition: all 150ms ease-in-out;
}

.menu > div::before {
  transform: translateY(-8px);
}

.menu > div::after {
  transform: translateY(8px);
}

.menu.open > div {
  background: transparent;
}

.menu.open > div::before {
  transform: translateY(0) rotate(45deg);
}

.menu.open > div::after {
  transform: translateY(0) rotate(-45deg);
}

/* HOME */
.home {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  padding-top: 100px;
}

.home-container {
  width: 100%;
  height: calc(100% - var(--header-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--pad);
}

.home-container .home-left,
.home-container .home-right {
  width: 50%;
  height: 100%;
}

.home-container .home-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container .home-right > img {
  width: 90%;
  animation: imgAnimation 5s ease-in-out infinite;
}

@keyframes imgAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.home-container .home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* BUTTON */
.btn {
  padding: 7px 20px;
  border: 3px solid white;
  width: fit-content;
  color: white;
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 100ms ease-in-out;
  user-select: none;
  white-space: nowrap;
}

.btn svg {
  width: 35px;
  height: 35px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn:hover #CombinedShape {
  fill: #000;
  transition: fill 100ms ease-in-out;
}

/* ABOUT */
.about {
  width: 100%;
  height: fit-content;
  background-color: white;
  padding: 50px var(--pad);
}

.about > h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  color: #111;
}

.about > h1 > b {
  color: var(--blue);
}

.about-container {
  width: 100%;
  height: fit-content;
  display: flex;
  column-gap: 50px;
}

.about-container > img {
  height: 300px;
  width: 300px;
  min-width: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 0 15px #ccc;
}

.about-container > div {
  width: 100%;
}

.about-container > div > h1 {
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 2rem;
}

.about-container > div p {
  color: #444;
}

.info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15px;
  column-gap: 10px;
  margin-bottom: 15px;
}

.info ul {
  list-style: none;
}

.info ul li {
  font-size: 20px;
}

.info ul li b {
  color: #777;
  font-weight: normal;
}

/* CUSTOM BUTTON */
.customButton {
  padding: 10px 30px;
  width: fit-content;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.customButton:hover {
  filter: brightness(80%);
}

.customButton:active {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.221);
}

/* SKILL CONTAINER */

.skill-main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px var(--pad);
  row-gap: 20px;
  column-gap: 30px;
}

.skill-container {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  color: white;
  align-items: center;
}

.skill-header p:first-child {
  font-size: 23px;
}

#skill {
  width: 100%;
  height: fit-content;
  padding: 50px 0;
}

#skill > h1 {
  text-align: center;
  font-size: 50px;
  color: white;
}

#skill > h1 > b {
  color: var(--blue);
}

.range {
  width: 100%;
  height: 20px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.range .value {
  height: 100%;
  background-color: var(--blue);
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: all 1.5s ease-in-out;
}

/* LOADER */
.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  transition: opacity 1s ease-in-out;
}

.spinner {
  width: 57.6px;
  height: 57.6px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.loader-container.hide {
  opacity: 0;
  pointer-events: none;
}

.spinner > div {
  background-color: rgba(0, 135, 135, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.9px solid #008787;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-28.8px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(28.8px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

/* PROJECT */
.project {
  width: 100%;
  height: 100%;
  padding: 0px var(--pad);
  padding: 30px var(--pad);
}

.project-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: rgba(17, 17, 17, 0.3);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 6px 6px 12px #090909, -6px -6px 12px #191919;
}

.project-container > h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

.project-container > h1 > b {
  color: var(--blue);
}

.grid-container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* PROJECT ITEM */
.project-item {
  height: 260px;
  position: relative;
  box-shadow: 0px 0px 5px #000;
}

.project-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.project-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8rem;
  padding: 0px 20px;
  cursor: default;
}

.project-item-hover > h1 {
  color: white;
  text-align: center;
}

.project-item-hover > p {
  color: #ccc;
  line-height: 1.3rem;
  text-align: center;
  margin-top: 10px;
}

.project-item-hover > h1,
.project-item-hover > p {
  transform: translateY(-25px);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.project-item-hover > div {
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
  transform: translateY(25px);
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.project-item-hover > div button {
  padding: 10px 25px;
  border-radius: 6px;
  background: #008787;
  box-shadow: 12px 12px 24px #007373, -12px -12px 24px #009b9b;
  color: #fff;
  border: none;
  cursor: pointer;
  user-select: none;
}

.project-item-hover > div button:hover {
  background: #007777;
}

.project-item-hover > div button:active {
  box-shadow: 5px 5px 24px #007373, -5px -5px 24px #009b9b;
}

.project-item:hover .project-item-hover {
  opacity: 1;
}

.project-item:hover .project-item-hover > h1,
.project-item:hover .project-item-hover > p,
.project-item:hover .project-item-hover > div {
  transform: translateY(0px);
  opacity: 1;
}

.project-item-hover > .lang {
  position: absolute;
  top: 5px;
  right: 10px;
  color: white;
}

/* POPUP CONTAINER */
.popup-container,
.popup-video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000b;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out;
}

.popup,
.popup-video {
  width: clamp(500px, 60vw, 500px);
  height: fit-content;
  background-color: white;
  transform: scale(0);
  transition: transform 150ms ease-in-out;
}

.popup-container.open {
  opacity: 1;
  pointer-events: all;
}

.popup-container.open .popup {
  transform: scale(1);
}

.popup-header,
.popup-video-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 80px;
  justify-content: space-between;
  box-shadow: 0px 2px 5px #0002;
}

.popup-header > button,
.popup-video-header > button {
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  color: #0005;
  cursor: pointer;
  user-select: none;
}

.popup-header > button:hover,
.popup-video-header > button:hover {
  color: #000;
}

.popup-content {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.popup-img-slider {
  width: 100%;
  height: 70%;
  background-color: #111;
  position: relative;
}

.popup-img-wrapper {
  width: 100%;
  height: 250px;
  overflow-x: hidden;
}

.popup-img-wrapper-slider {
  display: flex;
  height: 100%;
  width: 100%;
  width: fit-content;
  position: relative;
  right: 0;
  transition: all 150ms ease-in-out;
}

.popup-side-btn {
  position: absolute;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0003;
  width: 50px;
  top: 0;
  z-index: 1;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;
}

.popup-side-btn:hover {
  background-color: #0007;
}

.popup-side-btn.left {
  left: 0px;
}

.popup-side-btn.right {
  right: 0px;
}

.popup-img-left,
.popup-img-right {
  width: 30px;
  height: 30px;
  border: 5px solid white;
  cursor: pointer;
  z-index: 1;
}

.popup-img-left {
  transform: translateX(7px) rotate(45deg);
  border-top: none;
  border-right: none;
}

.popup-img-right {
  transform: translateX(-7px) rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.popup-img-slider .popup-img-wrapper-slider a {
  width: 100%;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.popup-img-slider .popup-img-wrapper-slider img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.description-container {
  overflow-y: scroll;
  height: fit-content;
  min-height: 50px;
  max-height: 100px;
}

.popup-demo {
  margin-top: 10px;
  padding: 10px 0px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.popup-demo:hover {
  filter: brightness(80%);
}

.popup-demo:active {
  box-shadow: 0 0 0 3px #0004;
}
/* POPUP VIDEO */

.popup-video-content {
  height: calc(100% - 80px);
  padding: 30px;
}

.popup-video-content > video {
  width: 100%;
  height: 100%;
}

.popup-video-container.open {
  opacity: 1;
  pointer-events: all;
}

.popup-video-container.open .popup-video {
  transform: scale(1);
}

.footer {
  width: 100%;
  height: 120px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--pad);
}

.footer p {
  color: white;
}

.footer p > b {
  color: var(--blue);
}

/* DRAWER */
.drawer {
  position: absolute;
  top: 100%;
  width: 90%;
  background-color: #fff;
  height: 0px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  pad: 0px;
  box-shadow: 0px 2px 5px #000;
  overflow-y: hidden;
  transition: all 300ms ease-in-out;
}

.drawer a {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.drawer a:hover {
  background-color: #eee;
}

.drawer.open {
  height: calc(100vh - 120px);
  padding: 20px;
}

/* RESPONSIVENESS */
@media (width <= 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width <= 850px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  .home {
    height: fit-content;
    padding-bottom: 50px;
  }
  .home-container {
    flex-direction: column;
    row-gap: 70px;
    height: fit-content;
  }
  .home-container .home-left {
    width: 100%;
    margin-top: 50px;
  }
  .home-container .home-right {
    width: 100%;
  }
  .skill-main-container {
    grid-template-columns: 1fr;
  }
  :root {
    --pad: 50px;
  }
}

@media (width <= 700px) {
  :root {
    --pad: 30px;
  }
  .menu-btn {
    display: none;
  }
  .menu {
    display: flex;
  }
  .popup,
  .popup-video {
    width: 95%;
  }
}

@media (width <= 400px) {
  .project-item-hover > h1 {
    font-size: 22px;
    line-height: 1.5rem;
  }
  .popup-header h3,
  .popup-video-header h3 {
    line-height: 1.5rem;
  }
  :root {
    --pad: 20px;
  }
}
