* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Trebuchet MS", "Sans-serif";
}

.App {
  position: relative;
  z-index: 2;
  display: flex;
  height: fit-content;
  flex-direction: column;
}
